.wrapper{
  padding: 0;
}

.header{
  @include responsive-sizing("padding-inline", 8, 120, 360,1440);
  @include responsive-sizing("padding-top", 40, 120, 360,1440);
  @include responsive-sizing("padding-bottom", 40, 80, 360,1440);
  @include responsive-sizing("gap", 24, 72, 360,1440);
  @include flex-column();

  .title{
      color: var(--Rich-black, #040F16);
      @include font-SegoeUI();
      font-size: 56px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 67.2px */
      letter-spacing: -1.12px;
  }

  .text{
    position: relative;
    border-radius: 32px;
    background: #F6F6F6;
    @include responsive-sizing("padding", 8, 56, 360,1440);
    @include media-max(1100px){
      display: flex;
      flex-direction: column-reverse;
    }

    .image{
      position: absolute;
      right: 0;
      top: -20%;
      width: 391px;
      height: 391px;
      @include media-max(1100px){
        position: relative;
        width: 340px;
        height: 360px;
      }
    }
  }

  .description{
    @include flex-column();
    max-width: 628px;
    width: 100%;
    gap: 32px;

    .list-text{
      @include flex-column();

      span{
        color: var(--Rich-black, #040F16);
        @include font-SegoeUI();
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 22.4px */
      }
    }



    .author{
      @include flex-row();
      align-items: center;
      gap: 16px;
      span{
        color: var(--Rich-black, #040F16);
        @include font-SegoeUI();
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 24px */
        letter-spacing: -0.4px;
      }

    }
  }
}

.wrapper-history{
  padding-top: 0;

  @include responsive-sizing("padding-inline", 8, 120, 360,1440);
  @include responsive-sizing("padding-bottom", 40, 80, 360,1440);

  .content{
    background: url("../../shared/assests/photo_2024-10-03_13-29-10.jpg") center center no-repeat;
    background-size: cover;
    border-radius: 32px;
    @include responsive-sizing("padding", 8, 56, 360,1440);
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    .item{
      flex: 1 0 49%;
      @include flex-row();
      align-items: center;
      gap: 8px;

      .date{
        @include flex-center();
        width: 64px;
        height: 64px;
        padding: 4px 8px;
        flex: 0 0 64px;
        border-radius: 60px;
        background: var(--Brand-Light-Guidance-Primary-Light-On-Primary, #F7F7FF);
        color: var(--Brand-Light-Guidance-Primary-Light-Primary, #566DD6);
        @include font-SegoeUI();
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 24px */
        letter-spacing: -0.4px;
      }
      .title{
        color: var(--Rich-black, #040F16);
        @include font-SegoeUI();
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 22.4px */

      }

      &:last-child{
        .title{
          color: var(--Rich-black, #040F16);
          @include font-SegoeUI();
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 120%; /* 24px */
          letter-spacing: -0.4px;
        }

      }
    }
  }
}

.wrapper-documents{
  @include flex-column();
  padding-top: 0px;
  @include responsive-sizing("padding-inline", 8, 120, 360,1440);
  @include responsive-sizing("padding-bottom", 40, 80, 360,1440);
  @include responsive-sizing("gap", 24, 72, 360,1440);

  h1{
    color: var(--Rich-black, #040F16);
    @include font-SegoeUI();
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 67.2px */
    letter-spacing: -1.12px;
  }
  .documents{
    @include flex-column();
    gap: 16px;
    padding: 32px;
    border-radius: 32px;
    border: 1px solid rgba(4, 15, 22, 0.20);
    span{
      color: #040F16;
      @include font-SegoeUI();
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 24px */
      letter-spacing: -0.4px;
    }

    .list{
      @include flex-column();
      gap: 8px;
      span{
        color: #040F16;
        @include font-SegoeUI();
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%; /* 31.2px */
        letter-spacing: 0.24px;
      }
      a{
        overflow: hidden;
        color: var(--Brand-Light-Guidance-Primary-Light-Primary, #566DD6);
        text-overflow: ellipsis;
        text-decoration: none;
        @include font-SegoeUI();
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 19.2px */
      }
      .download{
        &:hover{
          background: var(--Brand-Light-Guidance-Primary-Light-Primary-Container, #566DD6);
          span{
            color: var(--Brand-Light-Guidance-Primary-Light-On-Primary, #fff);
          }
        }
      }

    }
  }
}

.wrapper-carousel{
  padding: 0px 0px 72px 0px;
  @include responsive-sizing("padding-bottom", 24, 72, 360,1440);
  @include flex-column();
  @include responsive-sizing("gap", 24, 72, 360,1440);
  h1{
    @include responsive-sizing("padding-inline", 8, 120, 360,1440);
    @include responsive-sizing("padding-block", 0, 0, 360,1440);
    color: var(--Rich-black, #040F16);
    @include font-SegoeUI();
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 67.2px */
    letter-spacing: -1.12px;
  }
}
.slide-item{
  display: flex;
  justify-content: center;
}
.card{
  width: 282px;
  height: 100%;
  .image{
    border-radius: 100px;
    width: 100%;
    height: 282px;
    object-fit: cover;
  }
  .info{
    @include flex-column();
    align-items: center;
    justify-content: center;
    .name{
      overflow: hidden;
      color: #000;
      text-align: center;
      text-overflow: ellipsis;
      @include font-SegoeUI();
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%; /* 31.2px */
      letter-spacing: 0.24px;
    }
    .post{
      color: #525252;
      @include font-SegoeUI();

      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%; /* 19.2px */
    }
  }
}

.form{
  border: 0px solid #E5E7EB;
  background: linear-gradient(95deg, #F6FAFC 5.92%, #F7FAFC 25.08%, #FBFBFC 42.26%, #F9F9FB 52.38%, #F3F8FB 94.63%);
}