.button{
  width: fit-content;
  height: fit-content;
  padding: 6px 14px;
  cursor: pointer;
  border-radius: 32px;

  @include text-Button();

    &.outlined{
      color: #566DD6;
      transition: 0.3ms;
      border: 1px solid #E0E0FF;
      background: #fff;
      &:hover{
        background-color: #E76325;
        color: #fff;
      }
      &:disabled{
        background-color: #F4F4F4;
        color: #BDBDBD;
      }
    }
  &.filed{
    background-color: transparent;
    border: none;
    color: #7E7C7A;
    transition: 0.3ms;
    height: 58px;
    &:hover{
      color: #E76325;
    }
    &:disabled{
      border: 1px solid #F4F4F4;
      color: #BDBDBD;
    }
  }
    &.empty{
      background-color: transparent;
      border: 1px solid #fff;
      color: #fff;
      transition: 0.3ms;
      &:hover{
        color: #E76325;
      }
      &:disabled{
        border: 1px solid #F4F4F4;
        color: #BDBDBD;
      }
    }
}