
.wrapper{
  padding: 120px 120px 80px 120px;
  @include flex-column();
  gap: 24px;
}

.card{
  padding: 32px;
  border-radius: 32px;
  border: 1px solid rgba(4, 15, 22, 0.20);

  .header{
    @include flex-column();
    gap: 16px;
    padding-bottom: 16px;

    .title{
      @include flex-column();
      h2{
        color: #040F16;
        @include font-SegoeUI();
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 48px */
        letter-spacing: -0.8px;
      }
      span{
        color: #040F16;
        @include font-SegoeUI();
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 24px */
        letter-spacing: -0.4px;
      }
    }

    .info{
      @include flex-row();
      justify-content: space-between;
      gap: 16px;

      .date {
        @include flex-row();
        align-items: center;
        gap: 24px;

        .icon-wrapper{
          @include flex-row();
          align-items: center;
          gap: 8px;

        }
      }
    }
  }

  .body{
  @include flex-column();
  gap: 32px;
    .text{
      @include flex-column();
      gap: 16px;
      .image{
        border-radius: 32px;
      }
      span{
        color: #000;
        @include font-SegoeUI();
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 24px */
        letter-spacing: -0.4px;
      }
    }

    .list-wrapper{
      @include flex-column();
      gap: 32px;
    }
    .list{
      @include flex-column();
      gap: 8px;

      .title{
        color: #040F16;
        @include font-SegoeUI();
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%; /* 31.2px */
        letter-spacing: 0.24px;
      }
      .list-text{
        @include flex-column();
        span{
          color: #000;
          @include font-SegoeUI();
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%; /* 22.4px */
        }
      }
    }

    .media{
      .image{
        border-radius: 32px;
      }
    }
  }
}
.aside{
  @include flex-column();
  gap: 10px;
  border-radius: 32px;
  border: 1px solid rgba(4, 15, 22, 0.20);

  .title{
    color: #000;
    @include font-SegoeUI();
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
.form{
  border: 0px solid #E5E7EB;
  background: linear-gradient(95deg, #F6FAFC 5.92%, #F7FAFC 25.08%, #FBFBFC 42.26%, #F9F9FB 52.38%, #F3F8FB 94.63%);
  padding: 60px;
}