.history-block{
  border: 0px solid #E5E7EB;
  background: linear-gradient(180deg, #DEDFE1 0%, rgba(255, 255, 255, 0.00) 10.12%, rgba(253, 253, 254, 0.05) 85.67%, #E3E3E4 100%), #FFF;
}

.wrapper{
  padding: 80px 120px;
}

.cards{
  height: 100%;
  @include flex-row();
  gap: 24px;

  &>div:last-child{
    height: auto;
  }
}

.cards-wrapper{
  @include flex-column();
  gap: 24px;
  flex: 1 0 50%;
}