.wrapper{
  padding-block: 0;
  @include responsive-sizing("padding-inline", 8, 120, 360,1440);

}
.breadcrumb{
  @include responsive-sizing(" margin-top", 80, 120, 360,1440);
  @include responsive-sizing(" margin-bottom", 20, 120, 360,1440);
  &[data-pc-section="root"]{
    background: transparent;
    border: none;
    padding: 0;
  }
  [data-pc-name="breadcrumb"]{
    padding: 0;
  }
  @include media-max(1100px){
    [data-pc-section="menu"]{
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }
  }

  [data-pc-section="label"]{
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #7E7C7A;
    font-family: "ManropeRegular", sans-serif;
  }
  [data-pc-section="menuitem"]{

    [data-pc-section="label"]{
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #7E7C7A;
      font-family: "ManropeRegular", sans-serif;
    }

    [data-pc-section="label"]:last-child{
      color: #E76325;
    }
  }
}