.about-us{
  background-image: url("../../../../shared/assests/photo_2024-10-02_16-39-13.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  .wrapper{
    @include flex-row();
    gap: 16px;
    height: 100%;
    padding: 120px;
    .header{
      @include flex-center();
      padding: 32px;
      h2{
        font-size: 56px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 67.2px */
        letter-spacing: -1.12px;
        color: #040F16;
      }
    }
    .items{
      @include flex-column();
      gap: 16px;
      .item{
        @include flex-column();
        padding: 32px;
        span{
          font-size: 24px;
          line-height: 28.8px;
        }
      }
    }
  }
}