.text-field{
  padding: 4px 16px;
  width: fit-content;
  height: 48px;
  border-radius: 16px;
  border: none;

  &.error{
    border: 1px solid #f06969;
  }

  &::placeholder{
    color: var(--Rich-black, #040F16);
    @include font-SegoeUI();
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
  }
    &.dark{
      background:#404146;
      color: #fff;
    }
    &.light{
      background:#F2F2F2;
      color: #040F16;
      border: none;

      &::placeholder{
        color: #040F16;
      }
    }
}