.building{
  margin-top: 20px;
}
.main-block{
  position: relative;
  height: 764px;

  >img{
    position: absolute;
    object-fit: cover;
    right: 0;
    top: 0;
    left: 0;
    z-index: -1;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}
.wrapper{
  height: 100%;
  padding-block: 0;
  @include responsive-sizing("padding-inline", 8, 120, 360,1440);
}
.content{
  @include flex-column();
  justify-content: center;
  gap: 16px;
  height: 81%;
  max-width: 616px;
  width: 100%;
  h1{
    color: #2A2E37;
    @include font-SegoeUI();
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 120% */
  }
  span{
    @include text-Body1();
    color: #2A2E37;
    font-weight: 400;
  }

  .button-main{
    border-radius: var(--Button-Corner-Radius, 32px);
    background: var(--Brand-Light-Guidance-Primary-Light-Primary, #566DD6);
    span{
      color: #fff;

    }
  }
}
.wrapper-map{
  @include responsive-sizing("padding-inline", 8, 120, 360,1440);
  @include responsive-sizing("padding-block", 40, 80, 360,1440);
  @include flex-column();
  gap: 25px;

  .header{
    @include flex-row();
    justify-content: space-between;
    width: 100%;
    h3{
      color: var(--Rich-black, #040F16);
      @include font-SegoeUI();
      font-size: 32px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%; /* 38.4px */
    }
    .button{
      border-radius: var(--Button-Corner-Radius, 40px);
      background: var(--Brand-Light-Guidance-Primary-Light-Primary, #566DD6);
    }
  }

  .map-content{
    @include flex-column();
    gap: 24px;
    width: 100%;
    .list{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 24px;
      width: 100%;

      .item{
        @include flex-row();
        gap: 4px;
        color: var(--Rich-black, #040F16);

        span{
          color: var(--Rich-black, #040F16);
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

      }
    }
  }
}
.cards-container{
  border: 0px solid #E5E7EB;
  background: linear-gradient(94deg, #F5F5F7 1.34%, #F4F5F8 32.96%, #EDEEEE 66.59%, #E5E6E6 80.01%);
}
.cards-wrapper{
  @include flex-column();
  gap: 24px;
  @include responsive-sizing("padding-inline", 8, 120, 360,1440);
  @include responsive-sizing("padding-block", 40, 60, 360,1440);
  h2{
    color: var(--Rich-black, #040F16);
    @include font-SegoeUI();
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 38.4px */
  }
  .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
    gap: 24px;

  }
}
.case-block{
  border: 0px solid #E5E7EB;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 58.87%, rgba(253, 253, 254, 0.05) 73.31%, #E3E3E4 100.09%, #DEDFE1 100.09%), #FFF;
}

.form{
  border: 0px solid #E5E7EB;
  background: linear-gradient(92deg, #DEDEDE 1.84%, #CAC8CA 25.54%, #E4E4E5 43.05%, #E2E2E3 53.06%, #E6E6E7 66.58%, #E7E7E8 70.45%, #EDEEEE 80.15%, #E5E6E6 90.47%);
}
