.card{
  position: relative;
  cursor: pointer;
  flex: 1 0 269px;
  height: 332px;
  gap: 4px;
  @include flex-column();
  border-radius: var(--Indent_32, 32px);
  border: 0px solid var(--Brand-Light-Guidance-Primary-Light-Primary-Container, #BBC5EF);


  @include touch-hover(&){
    transition: $transition-default;
    border-radius: 32px;
    background: var(--Brand-Light-Guidance-Primary-Light-On-Primary, #F7F7FF);
    box-shadow: 0px 5px 22px 0px rgba(86, 109, 214, 0.12);
  }

  .image{
    border-radius: var(--Indent_32, 32px);
    height: 250px;
    width: 100%;
  }

  .text{
    position: absolute;
    bottom: 0;
    padding: 16px;
    width: 100%;
    z-index: 1;
    border-radius: var(--Indent_40, 40px);
    border: 0px solid var(--Persimmon, #38B6FF);
    background: var(--Almost-white, #FBFBFB);
    h2{
      color: #040F16;
      @include text-Body1();
      font-weight: 400;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    p{
      color: #2A2E37;
      @include text-Body2();
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}