.form {
  @include flex-column;
  gap: 32px;

  .block{
    @include flex-column;
    gap: 16px;

    .block-fields{
      @include flex-column;
      gap: 8px;
    }

    .title{
      color: #000;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px; /* 100% */
    }
  }

  .btns{
    margin-top: 50px;
    @include flex-row;
    justify-content: space-between;
    width: 100%;
  }
}