.form {
  @include flex-column;
  gap: 0.5rem;
  .seo{
    @include flex-column;
    gap: 6px;
  }
  .btns{
    margin-top: 50px;
    @include flex-row;
    justify-content: space-between;
    width: 100%;
  }
}