.modal-feedback{
  &[data-pc-name="dialog"] {
    margin: 0;
    border-radius: 32px;
  }
  [data-pc-section="content"] {
    padding: 0;
    border-radius: 32px;
  }
  [data-pc-section="header"] {
    display: none;
    padding: 16px;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    [data-pc-section="headertitle"] {
      @include text-Headline1();
    }
  }
}

.wrapper{
  padding: 60px 120px;
}
.decor{
  background: url("../../../shared/assests/photo_2024-10-03_13-29-10.jpg") center center no-repeat;
  background-size: cover;
  border-radius: 32px;
  padding: 56px;
  @include flex-column();
  gap: 32px;
}
.close{
  cursor: pointer;
}
.header{
  @include flex-row();
  gap: 8px;
  justify-content: space-between;

  h2{
    color: var(--Rich-black, #040F16);
    @include font-SegoeUI();
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 48px */
    letter-spacing: -0.8px;
  }

  span{
    color: var(--Rich-black, #040F16);
    @include font-SegoeUI();
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
    letter-spacing: -0.4px;
  }
}

.form{
  border-radius: 16px;
  background: var(--White, #FFF);
  padding: 24px 80px;
  @include flex-column();
  gap: 8px;

  h2{
    color: #040F16;
    @include font-SegoeUI();
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 44.8px */
    letter-spacing: -0.64px;
  }

  .form-content{
    @include flex-row();
    align-items: center;
    gap:8px;
  }

  .inputs{
    @include flex-row();
    gap: 8px;
    flex: 1 0 65%;

    input{
      width: 100%;
    }
  }
}