.case-block {
  border: 0px solid #E5E7EB;
  background: linear-gradient(180deg, #DEDFE1 0%, rgba(255, 255, 255, 0.00) 10.12%, rgba(253, 253, 254, 0.05) 85.67%, #E3E3E4 100%), #FFF;
}
.wrapper{
  @include flex-column();
  gap: 24px;
  padding: 120px;
  h2{
    color: var(--Rich-black, #040F16);
    @include font-SegoeUI();
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 38.4px */
  }
}
.cards{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}