.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  position: relative;
  &.is-admin {
    flex-direction: row;
  }
}

.main {
  position: relative;
  flex: 1 1;
}
